# === App Mode ===
NODE_ENV=development

# === MySQL Configuration ===
MYSQL_HOST=mariadb
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=rootpass

NEIGHBORLY_DB=mariadb_data

# === Redis Configuration ===
REDIS_HOST=redis
REDIS_PORT=6379

# === JWT Secret ===
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION_TIME=1d

# === Email Configuration ===
RESEND_API_KEY=re_TU_API_KEY_AQUI
MAIL_FROM="Vecinal App <tu-correo-verificado@tu-dominio.com>"
